.container{
  display: flex;
  
}

.player-container{
  width: 60%;
  margin: 20px;
}

.image-container img{
  height: 250px;
  width: 350px;
  margin: 20px;
}

.main-button{
  background-color: goldenrod;
  border: 1px solid gold;
  width: 150px;
  height: 30px;
  border-radius: 5px;
}